body{
    margin: 0px;
    background-color: #f2f2f2;
    color: #404040;

    font-family: 'Montserrat', sans-serif;
}

header {
    height: 200px;
    background-color: #404040;
    color: #f2f2f2;
    border-radius: 0px 0px 10px 10px;
}

header h1{
    line-height: 200px;
    margin-top: 0px;
    text-align: center;
}

.main{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


h2{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

p, h3{
    font-size: 1.1rem;
    line-height: 1.7rem;
}

img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #404040;
    text-decoration: none;
    cursor: pointer;
  
}

.section-box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #404040;
    border-radius: 10px;
    text-align: center;
}

.section-box:hover{
    border: 2px solid #000000;
    color: #000000;
}

.home-btn{
    padding: 20px;
}

.home{
    color: #f2f2f2;
}

.bold{
    font-weight: bolder;
}

.tiny-images{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    float: left;
    width: 20%;
}

.mirror-images{
    float: left;
    width: 50%;
}

.links{
    text-shadow: 2px 2px 5px #404040;
}

.links:hover{
    color: #000000;
    text-shadow: 2px 2px 5px #000000;
}